/* src/components/LoginPage.css  */

.login-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

button.for-form {
  width: 100%;
}