.analytics-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 900;
  margin: 2rem auto;
  height: 420;

}