/* src/components/media/ViewWatchlist.css */

/* section.genre-btns {
    text-align: center;
    margin: 1rem 0;
    width: 100%;
} */

/* button.is-active {
    background-color: #333;
    color: white;
} */

/* div.genre-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
    max-width: 600px;
} */

/* section.current-genre {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: bold;
} */

/* div.genre-nav-buttons {
    display: flex;
    justify-content: center;
    gap: .25rem;
    margin-top: 1rem;
} */

/* button.genre-nav-button {
    border: 0px;
    background: none;
    font-size: 1.5em;
} */

.movie-poster {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 5px
}

article.movie-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, 90px);
    place-items: center;
    justify-content: center;
    margin: 2rem auto;
    max-width: 1200px;
}

article.movie-grid img:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* article.no-movies h2 {
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid #333;
    display: inline-block;
} */

/* .-add-movie-button {
    padding: 0 .75rem;
    font-size: .75rem;
    line-height: 1rem;
} */

.add-has-movies {
    width: 150px;
    font-size: .9rem;
    padding: 0 .5rem;
}

.add-no-movies {
    width: 300px;
    font-size: 1.5rem;
    padding: 0 .75rem;
    animation: blink 3s infinite;
}

.blink-opacity {
    width: 300px;
    font-size: 1.5rem;
    padding: 0 .75rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}