/* src/borders.css */

.my-b-1 {
  border: 2px solid #FF0000;
}

.my-b-2 {
  border: 2px solid #0000FF;
}

.my-b-3 {
  border: 2px solid #006400;
}

.my-b-4 {
  border: 2px solid #FEBE10;
}

.my-b-5 {
  border: 2px solid #C71585;
}

.my-b-6 {
  border: 2px solid #000080;
}

.my-b-7 {
  border: 2px solid #008000;
}

.my-b-8 {
  border: 2px solid #FFA07A;
}

.my-b-9 {
  border: 2px solid #FF4500;
}

.my-b-10 {
  border: 2px solid #4B0082;
}

.my-b-11 {
  border: 2px solid #6B8E23;
}

.my-b-12 {
  border: 2px solid #00FFFF;
}

.my-b-13 {
  border: 2px solid #800000;
}

.my-b-14 {
  border: 2px solid #7B68EE;
}

.my-b-15 {
  border: 2px solid #8F9779;
}

.my-b-16 {
  border: 2px solid #EE82EE;
}

.my-b-17 {
  border: 2px solid #800080;
}

.my-b-18 {
  border: 2px solid #008080;
}

.my-b-19 {
  border: 2px solid #004526;
}

.my-b-20 {
  border: 2px solid #4B5320;
}